<form [formGroup]="formularioLogin">
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title class="title">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="contenedor">
    
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large" class="title">Login</ion-title>
      </ion-toolbar>
    </ion-header>
    <h1 class="titleapp" >RegistrAPP</h1>
  
    <br>
  
    <h4 class="subtitle">Bienvenido!</h4>
    <div class="container" [@slideInFromLeft]>
      
  
      
      <ion-input [(ngModel)]="usuario" label="Nombre" formControlName="nombre"
       required minlength="3" maxlength="8" class="usuario" name="nombre" type="text"
      label-placement="floating" fill="outline" placeholder=""  [@slideInFromLeft]></ion-input>
  
  <br><br>
  
  
        <ion-input [(ngModel)]="password"  label="Contraseña" type="password" formControlName="password" 
         label-placement="floating"  required minlength="4" maxlength="4" class="contra"
         fill="outline" placeholder=""  [@slideInFromLeft]></ion-input>
    </div>
    
    
    <ion-list class="container2">
      <ion-button type="submit" class="btn" (click)="ingreso()" [@slideInFromLeft]>Ingresar</ion-button>
    </ion-list>
  <div class="tags">
    <a href="" [routerLink]="['/registro']">Crea tu cuenta gratis</a>
  </div>
<div class="redesS">
  <a href="https://web.facebook.com/DuocUC.PlazaVespucio"><ion-icon name="logo-facebook" class="redes"></ion-icon></a>
  <a href="https://www.instagram.com/duoc_plazavespucio/"><ion-icon name="logo-instagram" class="redesI"></ion-icon></a>
  <a href="https://twitter.com/DuocUC"><ion-icon name="logo-twitter" class="redes"></ion-icon></a>

</div>

<div class="pswdF">
  <p>¿Problemas con tu contraseña? <br> <a href="" [routerLink]="['/pswd-forget']">Restablecer contraseña</a></p>
</div>
  </ion-content>
  </form>