.container2{
    

    text-align: center;
}

.captcha {
    margin-top: 20px; /* Ajusta la separación superior según sea necesario */
  }
  
  .recaptcha {
    display: inline-block; /* Asegura que el captcha se muestre en línea y no tome todo el ancho */
  }

.container{
    padding: 20px;
}