.container{
  padding: 30px;
  
}
.homeTitle{
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
}
.homeTitle2{
  text-align: center;
}

.input-name{
  margin-left: 50px;
}

.input-opt{
  margin-left: 60px;
  
}
.labelNE{
  width: 100px;
}

.container-btn{
  text-align: center;
}

.tags2{
  text-align: right;
  padding-top: 30px;
  padding-right: 20px;
}

.contenedorMain{
  padding-top: 20px;
  padding: 10px;
}

.button{
  text-align: center;
}
